<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>question</key>
		<string>野球のタイトルで三冠王の対象にはならないものはどれ？</string>
		<key>choices</key>
		<array>
			<string>首位打者</string>
			<string>本塁打王</string>
			<string>盗塁王</string>
			<string>打点王</string>
		</array>
		<key>answer</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>question</key>
		<string>日本の通貨を「円」と定めた人物は誰？</string>
		<key>choices</key>
		<array>
			<string>大隈重信</string>
			<string>伊藤博文</string>
			<string>板垣退助</string>
			<string>福沢諭吉</string>
		</array>
		<key>answer</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>question</key>
		<string>日本人初のノーベル賞受賞者はだれ？</string>
		<key>choices</key>
		<array>
			<string>朝永振一郎</string>
			<string>川端康成</string>
			<string>大江健三郎</string>
			<string>湯川秀樹</string>
		</array>
		<key>answer</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>question</key>
		<string>戦時中の様子を描いた「火垂るの墓」の原作者はだれ？</string>
		<key>choices</key>
		<array>
			<string>高畑勲</string>
			<string>大島渚</string>
			<string>野坂昭如</string>
			<string>宮崎駿</string>
		</array>
		<key>answer</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>question</key>
		<string>伯方の塩」で知られる伯方島があるのはどこ？</string>
		<key>choices</key>
		<array>
			<string>長崎県</string>
			<string>島根県</string>
			<string>宮城県</string>
			<string>愛媛県</string>
		</array>
		<key>answer</key>
		<integer>3</integer>
	</dict>
</array>
</plist>
